node_modules/
/test-results**
/playwright-report/
/all-blob-reports/blob-report/
/blob-report
/playwright/.cache/
/.env
/storage
specs_*.txt
/json-report

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml